.skills_tile {
    padding-bottom: 25%;
    border-radius: 32px;
    background-color: #1b2024;
    padding: 32px;
    font-family: WorkSans-Regular;
    color: #fff;
    font-size: 32px;
    position: relative;
    height: 100%;
}

.chip {
    font-size: 16px;
    line-height: 16px;
    border: 1px solid #bbb;
    padding: 8px 16px;
    border-radius: 16px;
    color: #bbb;
    margin-right: 10px;
    margin-top: 10px;
}

.stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: WorkSans-Regular;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    min-width: 250px;
    color: #bbb;
    transition: color 0.1s ease;
}

.stars:hover {
    color: #9077e1;
}

.skills_icon {
    stroke-width: 0px;
    margin-bottom: 10px;
    color: #fff;
}

.social_icon_wrapper {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.3s ease;
}

.social_icon {
    color: #1b2024;
    transition: all 0.1s ease;
}

.social_icon_wrapper:hover .social_icon {
    color: #9077e1;
}

.social_icon_wrapper:hover,
.social_icon_wrapper:hover .social_icon {
    scale: 1.1;
}

.header {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    transition: color 0.3s ease;
    margin-left: 32px;
    margin-right: 16px;
}

.header:hover {
    color: #9077e1;
}

.project_tile_l {
    border-radius: 32px;
    background-color: #1b2024;
    height: 80vh;
    padding: 32px;
    font-family: WorkSans-Regular;
    color: #fff;
    font-size: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.image_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 32px;
}

.project_tile_l .image {
    width: 80%;
    height: auto;
    transition: all 0.7s ease-out;
}

.project_tile_l .chips,
.project_tile_m .chips,
.project_tile_s .chips,
.project_description_tile .chips {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.project_tile_l .title,
.project_tile_m .title,
.project_tile_s .title {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.project_tile_l .icon,
.project_tile_m .icon,
.project_tile_s .icon {
    opacity: 0;
    transition: all 0.5s ease-out;
}

.project_tile_l:hover .icon,
.project_tile_m:hover .icon,
.project_tile_s:hover .icon {
    opacity: 1;
}

.project_tile_l:hover .image,
.project_tile_m:hover .image {
    scale: 1.02;
}

.project_tile_s {
    border-radius: 32px;
    background-color: #1b2024;
    height: 60vh;
    font-family: WorkSans-Regular;
    color: #fff;
    font-size: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.project_tile_s .image {
    height: 100%;
    width: auto;
    transition: all 0.7s ease-out;
}
.project_tile_s:hover .image {
    scale: 1.05;
}

.project_tile_s .overlay {
    padding: 32px;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    position: absolute;
    opacity: 0;
    transition: all 0.7s ease-out;
    background-color: rgba(27, 32, 36, 0.5);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.project_tile_s:hover .overlay {
    opacity: 1.05;
}

.project_tile_m {
    border-radius: 32px;
    background-color: #1b2024;
    height: 60vh;
    padding: 32px;
    font-family: WorkSans-Regular;
    color: #fff;
    font-size: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.project_tile_m .image {
    width: 100%;
    height: auto;
    transition: all 0.7s ease-out;
}

.more_tile {
    border-radius: 32px;
    background-color: #1b2024;
    height: 40vh;
    padding: 32px;
    font-family: WorkSans-Regular;
    color: #fff;
    font-size: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project_list {
    font-size: 16px;
    padding: 14px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

.project_list .icon {
    opacity: 0;
    transition: all 0.3s ease;
}

.project_list:hover .icon,
.project_list:hover {
    color: #9077e1;
    opacity: 1;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 16px;
    margin-top: 16px;
}

.timelineElement {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
    position: relative;
    font-family: WorkSans-Regular;
    width: 50%;
    padding-right: 0px;
    padding-left: 20px;
}

.timelineElement:nth-child(2n) {
    align-self: flex-start;
    padding-right: 20px;
    padding-left: 0px;
    text-align: right;
}

.timelineElement .elementContainer {
    padding-block-start: 10px;
    padding-inline-start: 10px;
    padding-block-end: 10px;
    padding-inline-end: 10px;
    font-size: 16px;
}

.timelineElement .elementContainer:hover {
    border-color: #9077e1;
}

.timelineElement .elementContainer:hover .circle {
    background-color: #9077e1;
}

.timelineElement .elementContainer:hover .date {
    opacity: 1;
}

.timelineElement .circle {
    background-color: #fff;
    /* border: 3px solid #9077e1; */
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 8px);
    left: -7px;
    width: 16px;
    height: 16px;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.timelineElement:nth-child(2n) .circle {
    left: calc(100% - 7px);
}

.timelineElement .date {
    position: absolute;
    top: calc(50% - 10px);
    right: calc(100% + 40px);
    padding-left: 40px;
    padding-right: 0px;
    width: 240px;
    text-align: right;
    color: #bbb;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.timelineElement:nth-child(2n) .date {
    padding-right: 40px;
    padding-left: 0px;
    left: calc(100% + 40px);
    text-align: left;
}

.timeline {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}
.timelineContainer:after {
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 50%;
    background-color: #9077e1;
    content: "";
    width: 2px;
}
.timelineContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.timeline .startCircle {
    position: absolute;
    left: calc(50% + 1px);
    top: 0;
    transform: translate(-50%, -50%);
    background-color: #9077e1;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    z-index: 1;
}
.timeline .endCircle {
    position: absolute;
    left: calc(50% + 1px);
    bottom: -5px;
    transform: translate(-50%, -50%);
    background-color: #9077e1;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    z-index: 1;
}

.fadeInSectionInvisible {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    margin-left: 16px;
    margin-right: 16px;
}

.fadeInSectionVisible {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
    transform: none;
    margin-left: 16px;
    margin-right: 16px;
}

.project_description_tile {
    border-radius: 32px;
    background-color: #1b2024;
    height: 100%;
    padding: 32px;
    font-family: WorkSans-Regular;
    color: #fff;
    font-size: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.project_description_tile .link {
    background-color: #9077e1;
    font-size: 24px;
    line-height: 24px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    border-radius: 24px;
    color: #1b2024;
    position: absolute;
    left: 32px;
    bottom: 32px;
}

.color_block_tile {
    width: 100%;
    border-radius: 32px;
    background-color: #1b2024;
    padding: 32px;
    font-size: 32px;
    display: flex;
    margin-bottom: 32px;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}

.typography_tile {
    width: 100%;
    height: 25vh;
    border-radius: 32px;
    background-color: #1b2024;
    padding: 32px;
    color: #fff;
    font-size: 24px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 16px;
}
.project_goals_tile {
    width: 100%;
    border-radius: 32px;
    background-color: #1b2024;
    height: auto;
    padding: 32px;
    font-family: WorkSans-Regular;
    color: #fff;
    font-size: 32px;
    position: relative;
    display: flex;
    margin-right: 16px;
    flex-direction: column;
}
.project_details_tile {
    width: 100%;
    border-radius: 32px;
    background-color: #1b2024;
    height: auto;
    padding: 32px;
    font-family: WorkSans-Regular;
    color: #fff;
    font-size: 32px;
    position: relative;
    display: flex;
    margin-left: 16px;
    flex-direction: column;
}

.project_description_tile .link:hover {
    background-color: #7f68c8;
}

.project_demo_image {
    width: auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    position: relative;
    border-radius: 32px;
    overflow: hidden;
}

.project_highlight_image {
    width: auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    position: relative;
    border-radius: 32px;
    overflow: hidden;
}

.color_block {
    height: 100%;
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color_block .color_text {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.color_block:hover .color_text {
    opacity: 1;
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }
}
