* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

:root {
    --color-background: #0d1014;
    --color-foreground: #1f2026;
    --color-foreground2: #2c2c3b;
    --color-text: #f8faff;
    --color-accent: #d0ccdc;
    --color-highlight: #8989ff;
    --gradient: linear-gradient(
        90deg,
        rgba(27, 32, 36, 1) 0%,
        rgba(37, 31, 57, 1) 100%
    );

    --image-overlay: rgba(27, 32, 36, 0.5);
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@font-face {
    font-family: "Raleway-Bold";
    src: local("Raleway-Bold"),
        url(../fonts/concerto/Raleway-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Raleway-SemiBold";
    src: local("Raleway-SemiBold"),
        url(../fonts/concerto/Raleway-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "Raleway-Regular";
    src: local("Raleway-Regular"),
        url(../fonts/concerto/Raleway-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Raleway-Light";
    src: local("Raleway-Light"),
        url(../fonts/concerto/Raleway-Light.ttf) format("truetype");
}

@font-face {
    font-family: "SourceSerif4-Medium";
    src: local("SourceSerif4-Medium"),
        url(../fonts/concerto/SourceSerif4-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "TenorSans-Regular";
    src: local("TenorSans-Regular"),
        url(../fonts/nanika/TenorSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Optician-Sans";
    src: local("Optician-Sans"),
        url(../fonts/nanika/Optician-Sans.otf) format("opentype");
}

@font-face {
    font-family: "WorkSans-Light";
    src: local("WorkSans-Light"),
        url(../fonts/WorkSans-Light.ttf) format("truetype");
}

@font-face {
    font-family: "WorkSans-Regular";
    src: local("WorkSans-Regular"),
        url(../fonts/WorkSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "WorkSans-SemiBold";
    src: local("WorkSans-SemiBold"),
        url(../fonts/WorkSans-SemiBold.ttf) format("truetype");
}
